* {
    box-sizing: border-box;
    /*border: 1px solid #3a14ad;*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}



/*@media (max-width: 768px) {*/
/*    .section {*/
/*        width: 100%;*/
/*    }*/
/*}*/