.header-container{
    display: flex;
    justify-content: flex-end;
}
.nav{
    width: 50%;
    background-color: #7d1ca6;
    border-radius: 0 0 0 150px;
    padding: 20px;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin: 0;
}
.nav-item{
    margin: 0;
}
.nav-link {
    line-height: 50px;
}

.nav-link:hover{
    color: #c32ecc;
}

