.main-container {
    flex-direction: row;
    display: flex;
}

.section {
    width: 100%;

}
.left-container{
    display: flex;
    padding-top: 100px;
    width: 450px;
    flex-shrink: 0;
    background-image: url("../assets/left-container2.png");
    background-size: auto;
    background-repeat: no-repeat;
    align-items: center;
    flex-direction: column;
}
.right-container{
    display: flex;
    flex-direction: column;

}
.avatar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-25%);
}

.avatar-section{
    overflow: hidden;
    width: 260px;
    height: 260px;
    position: relative;
    border: 10px solid white;
    border-radius: 0 200px 0 60px;
    align-self: start;
    margin-left: 30px;
}
.contact-list img{
    width: 25px;
    height: 25px;
}
.left-container{
    color: white;
}
.left-container .section-title{
    background-color: white;
    color: #604A9E;
    height: 60px;
    width: 80%;
    padding-top: 15px;
    text-align: center;
    border-radius: 0 70px 0 0;
    margin-top: 100px;
}
.right-container{
    color: #161616;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
}

.contact-item {
    display: flex;
    gap: 8px;
    align-items: center;
}
.contact-list a {
    color: white;
}
.contact-list a:hover{
    color: #c32ecc;
}
.left-content{
    margin: 50px 0 0 100px;
}
.skills{
    margin-left: 50px;
    line-height: 2.5ch;
    font-size: 90%;
    padding: 0;
}
.skill-items{
    color: #ea8143;
}
.language{
    margin-left: 150px;
}
.initials{
    font-size: 56px;
    text-align: center;
}
.profile{
    color: #B400F0;
}
.profile-title{
    text-align: center;
}
.first-name{
    color: #B400F0;
}
.last-name{
    color: #5C00D7;
    font-weight: bolder;
}

.right-container .section-title{
    background-color: #5C00D7;
    color: white;
    height: 60px;
    width: 400px;
    padding-top: 15px;
    text-align: center;
    border-radius: 0 70px 0 0;
    margin-top: 125px;
}
.right-container a{
    color: #2a33bd;
}
.right-container a:hover{
    color: #9f80ef;
}
.courses{
    margin-top: 0 !important;
}

.summary-text{
    width: 70%;
    margin-top: 100px;
    margin-left: 200px;
    line-height: 3ch;
}
.project-title{
    margin-top: 0 !important;
}
.right-content{
    margin-left: 170px;
}
