* {
    box-sizing: border-box;
    list-style: none;
}

a{
    color: #e0a8ea;
    text-decoration: none;
    transition: color 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.body{
    max-width: 1440px;
    background-color: white;


}

.container {
    margin: 0;
}
